body {
  margin: 0;
  font-family: "Inter";
  background-color: #A1CDF4;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh auto;
  width: 50vh auto;
  background-color: #A9AFD1;
  border-radius: 5px;
  box-shadow: 0 0 3px black;
  padding: 10px;
}

.input-bar {
  text-align: center;
}

.text-input {
  margin-top: 20px;
  border: thin black ;
  border-radius: 5px;
  width: 500px;
  height: 30px;
}

.btn {
  margin-left: 15px;
  width: 50px;
  height: 30px;
  background-color: #B5B1B2;
  border: solid #fff;
  border-radius: 20px;
}

.btn:hover {
  cursor: pointer;
  background-color: #DBC7BE;
}

.header {
  margin: 0;
  font-size: 1.5rem;
  color: #6D4A5C;
}

.list-items {
  margin: 10px auto;
} 

.list-items li::marker {
  content: "▶   ";
  color: #1361A4;
}

.todo-list {
  
  margin: auto;
  width: 90%;
  padding: 10px;
}

.hr {
  margin-top: 20px;
  margin-bottom: 0;
}

.close {
  text-align: center;
  height: 25px;
  width: 25px;
  cursor: pointer;
  float: right;
  font-size: 1.2rem;
  border: solid black;
  border-radius: 15px;
}

.close:hover {
  color: red;
  background-color: black;
}

.items {
  height: 40px;
}